header{
    background-color: darkslateblue;
}

.logoImg{
    margin-top: 10px;
    margin-bottom: 10px;
}

.conta{
    width: 150px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(114, 104, 180);
}

.bi-arrow-left{
    margin-left: 40px;
    font-size: 48px;
    color: white;
}

li{
    font-size: 20px;
    margin-top: 50px;

    text-decoration: none;
    list-style-type: none;
}

img.account{
    border-radius: 50%;
}

body{
    background-image:url("https://raw.githubusercontent.com/GabrielCAlves/Web-ProjetoFinal/main/galaxia-fundo.jpg");
}

.caixa{
    width:256px;
}

.universe{
    width: 256px;
}

.coluna1{
    border-left: 10px;
    background-color: white;
}

.coluna2{
    background-color: rgb(3, 8, 0);
}

.coluna2 li a{
    color: white;
    text-decoration: none;
}

.coluna2 li{
    list-style:none;
    margin-left: 25px;
}

.coluna2 ul{
    padding: 0px;
}

.coluna1Perfil{
    background-color: black;
    color:rgb(109, 109, 109);
}

.userPage img{
    margin-left: 315px;
}

.perfil img{
    margin-top: 20px;
    margin-left: 20px;
}

.nomeUser, .emailUser{
    font-size: 24px;
}

.emailUser{
    margin-right: 300px;
}

.userEmail{
    padding-bottom: 55px;
}

.Salvos{
    font-size: 30px;
}

.Sim button, .Nao button{
    width: 75px;
}

.contadorModal{
    font-size: 48px;
}

#searchbar{
    width: 166px;
    margin-top: 20px;
    /*margin-left: 15%;*/
    padding:15px;
    border-radius: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

  /* When the input field gets focus,
       change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

 /*#list{
   font-size:  1.5em;
   margin-left: 90px;
  }*/

.universe{
  display: list-item;
  list-style:none   
} 

.Ajuda li{
    font-size: 36px;
}